@import './variables.css';

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--dark);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spacer {
  aspect-ratio: 300/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.layer1 {
  background-image: url('../../public/assets/static/wave-haikei.svg');
}

.flip {
  transform: rotate(180deg);
}

@media (min-width: 800px){
  .spacer {
  aspect-ratio: 400/150;
  }
}

@media (min-width: 1000px){
  .spacer {
  aspect-ratio: 900/150;
  }
}
